* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}


ul {
  list-style: none;
}

li {
  cursor: pointer;

  &:hover {
    background-color: $c-concrete;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.mainWrapper--mainSection {
  @include flex(row, inherit, flex-start);
  overflow: hidden;
}
