%fullSize {
  width: 100%;
  height: 100%;
}

@mixin posAbsol($top, $left) {
  position:absolute;
  top:$top;
  left:$left;
}

@mixin flex($dir, $align, $justify) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-direction: $dir;
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;

  @if ($dir == "column") {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
