/*-----------------------------COLORS------------------------------------------*/
$c-white: #fff;
$c-mineShaft: #333333;
$c-gallery: #f0f0f0;
$c-silver: #cccccc;
$c-scienceBlue: #055fd4;
$c-boulder: #7a7a7a;
$c-black: #000;
$c-gray: #909090;
$c-concrete: #F2F2F2;
$c-yt:#ff0000;
$c-corduroy: #5F6060;
$c-silverSand: #E9E9E7;
/***********Dark Mode Colors************/
$c-regentGray: #202020; //header/sidebar
$c-codGray: #181818; //body

/*-----------------------------SPACES------------------------------------------*/
$space-xxs: 6px;
$space-xs: 10px;
$space-s:12px;
$space-m:16px;
$space-l:18px;
$space-ytXS: 20px;
$space-ytXS1: 30px;
$space-ytS: 40px;
$space-ytM: 60px;

/*-----------------------------BORDERS------------------------------------------*/
$border-primary: 1px solid $c-silver;
/*-----------------------------FONT------------------------------------------*/
$f-extraSmall: 0.5rem;
$f-mediumSmall: 0.7rem;
$f-largeSmall: 0.9rem;
$f-small: 1rem;
$f-medium: 1.5rem;
$f-large: 2rem;

/*-----------------------------BUTTONS------------------------------------------*/
$space-btn-inner: 4px;

/*-----------------------------BREAK LINES------------------------------------------*/
$break-l: 1200px;
$break-l-small: 1100px;
$break-m: 960px;
$break-s: 848px;
$break-s-ipad: 748px;
$break-s-additional: 620px;
$break-xs: 448px;
$break-xxs: 375px;
$break-xxs-additional: 320px;