/* YT btn */
.header__col3--btn, .ytButton {
      width: 36%;
      height: 38px;
      border: 1px solid $c-scienceBlue !important;
      margin-right: 11px;

      .col3--btn__icon, .accountIcon {
        font-size: $f-medium;
        @include posAbsol(4px, 1px);
      }

      span {
        color: $c-scienceBlue !important;
        font-size: 12px;
        margin-left: 15px;
      }
    }