.videoCard {
  width: 270px;
  margin-bottom: $space-ytS;
  margin-top: $space-xs;
  margin-right: $space-xs;
  position: relative;

  &__overlay {
    opacity: 0;
    @include flex(column, center, center);
    width: 20px;
    height: 30px;
    position: absolute;
    top: 17px;
    right: 14px;

    svg {
      background-color: rgba(0, 0, 0, 0.808);
      border-radius: 5px;
      font-size: $f-medium;
      margin: 2px;
      color: $c-white;
    }
  }

  &__timing {
    text-align: center;
    color: $c-white;
    font-size: $f-mediumSmall;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.438);
    width: 43px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 20px;
  }

  img {
    height: 147px;
    width: 264px;
    object-fit: cover;
  }

  &__video {
    &:hover .videoCard__overlay {
      opacity: 1;
    }
  }

  &__videoTitle {
    @include flex(row, center, flex-start);

    span {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: $f-largeSmall;
    }

    .videoCard__user {
      margin: $space-xxs;
      margin-top: $space-xs;
      height: 2rem;
      width: 2rem;
    }
  }

  &__info {
    margin-left: $space-ytS;

    p {
      color: $c-corduroy;
      font-size: $f-largeSmall;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $break-l-small) {
  .videoCard {
    width: 250px !important;
    margin-right: 30px;
    margin-left: $space-ytXS;
  }
}

@media only screen and (max-width: $break-s-ipad) {
  .videoCard {
    margin-right: $space-ytXS1;
  }
}

@media only screen and (max-width: 528px) {
  .videoCard {
    margin: 0 auto;
  }
  .videoCard__infoBlock {
    margin-bottom: 13px;
  }
}
