.header {
  @extend %fullSize;
  height: 50px;
  @include flex(row, flex-end, space-between);
  position: sticky;
  background-color: $c-white;
  z-index: 11;
  top: 0;

  &__col1 {
    width: 26%;
    height: 100%;
    position: relative;

    img {
      width: 90px;
      height: 40px;
      @include posAbsol(20%, 20%);
    }

    .header__menuIcon {
      margin: $space-l;
    }
  }

  &__col2 {
    height: 100%;
    width: 70%;
    flex: 1;
    @include flex(row, flex-end, center);

    .header__col2--wrapper {
      width: 100%;
      height: 30px;
      border: $border-primary;
      position: relative;
      margin-bottom: 5px;
      box-shadow: 0 1px 2px $c-concrete;

      .col2--wrapper__search {
        border-left: $border-primary;
        text-align: center;
        background-color: $c-gallery;
        width: 50px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
          background-color: $c-silverSand;
        }
      }

      .header__col2--icon {
        color: $c-boulder;
        margin: 3px;
        font-size: 1.3rem;

        &:hover {
          color: $c-mineShaft;
        }
      }

      input {
        width: 91%;
        height: 27px;
        border: none;
      }
    }
  }

  &__col3 {
    width: 30%;
    position: relative;
    @include flex(inherit, center, space-between);

    &--menuOpt {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    .header__col3--btn {
      margin-bottom: 5px;
    }

    .header__app {
      padding: $space-xxs;
      margin-left: $space-l;

      &:hover {
        background-color: rgba(99, 94, 94, 0.062);
        border-radius: 100%;
        filter: blur(0.8);
      }
    }

    .header__dots {
      padding: $space-xxs;

      &:hover {
        background-color: rgba(99, 94, 94, 0.062);
        border-radius: 100%;
        filter: blur(1);
      }
    }

    .header__micro {
      font-size: 1.6rem;
    }

    .ytIcon {
      color: $c-corduroy;
    }
  }
}

@media only screen and (max-width: $break-m) {
  div.appContainer {
    width: 220px;
    li {
      width: calc(200px - 12px);
    }
  }

  div.menuContainer {
    left: -45px;
  }
}

@media only screen and (max-width: $break-s) {
  .header__col1 img {
    width: 67px;
    height: 30px;
    left: 30%;
  }
  .header__col3 .header__col3--btn {
    width: 100px;
    height: 29px;
  }

  .header__col3 {
    justify-content: flex-start;
  }

  .header__col3 .header__micro {
    position: unset;
  }

  .header__col3 .header__col3--btn span {
    font-size: 7px !important;
  }

  .header__col3 .header__col3--btn .col3--btn__icon {
    font-size: 1.4rem !important;
  }

  div.appContainer {
    width: 220px;
    left: -4rem;
  }
}

@media only screen and (max-width: $break-s-ipad) {
  .header__col3 .header__col3--btn {
    width: 40%;
  }

  .header__col3--menuOpt {
    display: flex;
  }

  .header__col3 .header__col3--btn span {
    margin-left: $space-btn-inner;
  }

  .header__col3 .header__col3--btn .col3--btn__icon {
    font-size: $f-small !important;
  }

  div.menuContainer {
    width: 220px;

    .menuContainer--list li {
      width: 200px;
    }
  }
}

@media only screen and (max-width: $break-s-additional) {
  .header {
    height: 40px;

    .header__col2 {
      height: 20px;

      .header__col2--wrapper {
        width: 92%;
        height: 100%;

        input {
          height: 90%;
          width: 78%;
        }
      }

      .col2--wrapper__search {
        height: 100%;

        svg {
          margin: 0;
        }
      }
    }

    .header__col1 {
      width: 22%;

      img {
        left: 38%;
        top: 33%;
        width: 59px;
        height: 26px;
      }

      .header__menuIcon {
        @include posAbsol(-5px, -8px);
      }
    }
  }

  .header__col3--menuOpt {
    align-items: center;
  }

  .header__col3 .header__micro,
  .header__col3 .header__app,
  .header__col3 .header__dots {
    font-size: 1.2rem !important;
  }

  .header__col3 .header__col3--btn {
    width: 47%;
    top: -3px;
  }

  .header__col3 .header__dots {
    padding: 0;
  }

  div.appContainer,
  div.menuContainer {
    left: -8rem;
  }
}

@media only screen and (max-width: $break-xs) {
  .header__col2 .header__col2--wrapper {
    height: 21px;

    input {
      height: 21px;
      width: 72%;
    }

    .col2--wrapper__search {
      height: 23px;
    }
  }

  .header__col3 .header__dots {
    margin-left: -8px;
  }

  .header {
    height: 30px;

    &__col1 img.header__ytLogo {
      top: 0;
      width: 49px;
      height: 22px;
    }
  }

  .header .header__col1 .header__menuIcon {
    left: -23%;
    top: -64%;
  }
  .header,
  .header__col2 {
    align-items: flex-start;
  }

  .header__col3 .header__col3--btn {
    height: 22px;
    top: 0;
  }

  .header__col3 .header__micro,
  .header__col3 .header__app,
  .header__col3 .header__dots {
    font-size: $f-small !important;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 478px) {
  .header__col3 {
    width: 33%;
  }

  .header__col3--menuOpt {
    width: 30%;
  }
}

@media only screen and (max-width: $break-xs) {
  .header__col3 {
    width: 23%;
  }

  .header__col2 .header__col2--wrapper .col2--wrapper__search {
    height:21px 
  }

  .header__col3 .header__micro,
  .header__col3 .header__app,
  .header__col3 .header__dots {
    font-size: $f-mediumSmall !important;
  }
}

@media only screen and (max-width: $break-xxs) {
  .header__col1 {
    width: 17%;

    img {
      width: 40px;
    }
  }

  .header .header__col1 .header__menuIcon {
    top: -15px;
    font-size: $f-small !important;
  }

  .header__col3 .header__col3--btn {
    height: 20px;
    top: 3px;
  }
  .header__col3 .header__col3--btn .col3--btn__icon {
    font-size: $f-mediumSmall !important;
  }

  .header__col3 .header__col3--btn span {
    font-size: 5px !important;
  }

  .header__col3 {
    width: 29%;
    justify-content: space-between;
  }
  .header__col3 .header__col3--btn,
  .header__col3 .header__col3--btn .col3--btn__icon {
    position: unset;
  }

}

@media only screen and (max-width: $break-xxs-additional) {
  .header__col3 {
    width: 24%;
  }

  .header .header__col1 {
    width: 20%;
  }
  .header__col2 {
    margin-left: 10px;
  }

  .header .header__col1 .header__menuIcon {
    left: -33%;
  }
}
