.menuContainer {
  width: 260px;
  height: 360px;
  background-color: $c-white;
  @include posAbsol(100%, 0);
  border-left: $border-primary;
  border-right: $border-primary;
  border-bottom: $border-primary;
  z-index: 11;

  .menuContainer--list {
    max-width: 100%;
    @include flex(column, flex-end, center);
    position: relative;

    li {
      padding: $space-s $space-xxs;
      color: $c-black;
      width: 100%;
      display: flex;
      align-items: center;
      width: calc(260px - 12px);

      span {
        margin-left: $space-xs;
      }

      .listItem__icon {
        color: $c-gray;
        font-size: $f-medium !important;

        &:hover {
          color: $c-mineShaft;
        }
      }
    }
  }
}

/*---------------YouTube App Menu-----------------*/
.outline {
  border-bottom: $border-primary;
}

.appContainer {
  width: 300px;
  height: 250px;
  background-color: $c-white;
  @include posAbsol(100%, -2rem);
  border-left: $border-primary;
  border-right: $border-primary;
  border-bottom: $border-primary;

  &--list {
    @include flex(column, flex-end, center);
    position: relative;

    li {
      padding: $space-xs $space-xxs;
      color: $c-black;
      display: flex;
      align-items: center;
      width: calc(300px - 12px);

      span {
        font-size: 0.9rem;
        margin-left: $space-xs;
      }

      img {
        height: 1.9rem;
        width: 1.9rem;
      }
    }

    .listItem__ytIcon {
      color: $c-yt;
    }
  }
}

/*---------------Left Side Menu-----------------*/
.sideMenu {
  height: 100vh;
  background-color: $c-white;
  flex-basis: 10%;
  min-width: 250px;
  margin-top: -3px;
  @include flex(column, flex-start, flex-start);
  overflow-y: scroll;
  overflow-x: hidden;

  &__menuOpt {
    width: 100%;
    margin-top: 22px;
  }

  &__menuOpt--list {
    flex-basis: 100%;

    li {
      @include flex(row, center, flex-start);
      width: 240px;
      margin-left: -41px;

      &:hover {
        background-color: rgba(217, 222, 236, 0.432);
      }

      span {
        padding: $space-xs;
        font-size: $f-largeSmall;
        color: $c-mineShaft;
      }

      svg {
        padding: $space-xs;
        margin-left: $space-xs;
        color: $c-corduroy;
        font-size: 1.4rem;
      }
    }
  }

  &__info {
    @include flex(column, center, center);
    padding: $space-s;

    p {
      font-size: $f-largeSmall;
      padding: $space-s $space-l;
      margin-top: $space-xs;
      font-family: "Roboto", sans-serif;
    }
  }

  button {
    width: 69%;
    margin-right: 33px;
    margin-top: $space-xxs;

    .accountIcon {
      left: 4px;
      top: 1px;
      font-size: $f-large;
    }
  }

  li.active {
    color: $c-black;
    background-color: rgba(196, 204, 230, 0.63);

    svg {
      color: $c-yt !important;
    }
  }

  &__more {
    @include flex(column, center, center);

    span {
      margin-top: $space-l;
      font-size: 500;
      color: $c-mineShaft;
    }

    ul {
      margin-top: $space-xs;
    }

    ul > li > span {
      margin-top: -3px;
    }
  }

  &__appInfo {
    width: 100%;
    padding: $space-m;

    span {
      color: $c-mineShaft;
      font-size: $f-mediumSmall;
      font-weight: 500;
      padding: 4px;
    }
  }
}

span#google {
  color: $c-corduroy;
  padding: $space-m;
  margin-left: $space-xxs;
  font-size: $f-largeSmall;
}

.sideMenuNarrow {
  height: 100vh;
  background-color: $c-white;
  flex-basis: 5%;
  min-width: 50px;
  @include flex(column, flex-start, flex-start);
  position: fixed;
  z-index: 10;
}

.narrow > li {
  @include flex(column, center, flex-end);
  width: 66px;

  svg {
    &:hover {
      color: $c-yt;
    }
  }
}

.narrow > li > span {
  font-size: $f-mediumSmall;
  padding: $space-xxs;
}

.narrow > li.active {
  background-color: $c-white;
  svg {
    color: $c-yt !important;
  }
}

@media only screen and (max-width: $break-l) {
  .narrow > li {
    justify-content: flex-start;
    align-items: flex-start;
    align-items: flex-start;
  }

  .narrow > li > svg {
    margin-left: 0;
  }

  .narrow > li > span {
    font-size: $f-extraSmall;
  }
}

@media only screen and (max-width: 578px) {
  .sideMenu {
    min-width: 150px;


    li {
      width: 150px;

      span {
        font-size: $f-mediumSmall;
      }
    }

    &__info p {
      font-size: $f-mediumSmall;
      padding: $space-s 35px;
    }

    .header__col3--btn span,
    .ytButton span {
      font-size: $f-extraSmall;
    }

    button {
      width: 75%;
      margin-right: 14px;

      .accountIcon {
        font-size: $f-medium !important;
      }
    }

    &__more span {
      font-size: $f-mediumSmall;
    }
  }
}

@media only screen and (max-width: $break-xxs) {
  .header__col3--btn span,
  .ytButton span {
    margin-left: 28px;
  }

  div.appContainer,
  div.menuContainer {
    left: -9rem;
  }

  .sideMenu__info p {
    padding: 12px 22px;
  }

}
