.modal__text {
  padding: $space-m;
  width: 350px;
  font-family: "Train One", cursive;
  color: $c-white;
  margin:0 auto;
  user-select: none;
  font-size: 14px;

  span {
    color: $c-yt;
    font-family: inherit;
  }
}

.modal__header {
  text-align: center;
  color: $c-white;
  letter-spacing: 5px;
}

.modal__close {
  position: absolute;
  right: $space-s;
  top: $space-xxs;
  cursor:pointer;
  color: $c-white;

  &:hover {
    color: $c-yt;
  }
}


@media only screen and (max-width: $break-xxs) {
  .modal__text {
    font-size: 12px;;
  }
}