.videoSection,
.videoWrapper {
  height: 100vh;
  background-color: $c-gallery;
  @include flex(row, inherit, flex-start);
  flex-wrap: wrap;
  margin-top: -3px;
  z-index: 1;
  padding: $space-xs $space-ytXS;
  max-width: 100%;
  padding-left: 70px;

  overflow-y: scroll;

  &__divider {
    margin: 0 auto;
    width: 98%;
    background-color: $c-silver;
    height: 5px;
    border-radius: 8px;
  }
}

.videoSection__popular {
  @include flex(column, inherit, inherit);
  margin-top: $space-ytM;

  .videoWrapper {
    padding: 0;
    height: 70vh;
    margin-top: $space-ytXS;

    .videoCard {
      .videoCard__timing {
        top: 35%;
      }
    }
  }

  &--more {
    width: 100%;
    text-align: center;
    height: 60px;

    svg {
      margin: 0 auto;
      margin-top: $space-s;
      color: $c-boulder;
    }

    &:hover {
      background-color: $c-silverSand;
    }
  }
}

.rest {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1370px) {
  .videoSection__popular .videoWrapper .videoCard .videoCard__timing {
    top: 49%;
  }
}

@media only screen and (max-width: $break-m) {
  .videoSection {
    justify-content: center;
  }

  .videoSection__popular .videoWrapper {
    justify-content: center;
  }
}

