.video {
  @extend %fullSize;
  @include flex(row, center, center);
  padding: 0 30px;

  &__left {
    @include flex(column, flex-start, center);
    width: 40%;
    position: relative;

    p {
      color: $c-white;
      position: absolute;
      top: 30px;
      left: 15%;
      z-index: 1;
    }

    svg:first-of-type {
      position: relative;
      top: 2rem;
      left: 26rem;
      color: $c-white;
    }

    svg:last-of-type {
      position: relative;
      top: 8px;
      left: 23rem;
      color: $c-white;
    }

    img {
      width: 420px;
      height: 230px;
      margin: 10px;
      margin: 0 auto;
      position: relative;
      margin-top:20px;
    }
  }

  &__right {
    @include flex(column, flex-start, center);
    width: 60%;

    p {
      font-size: $f-largeSmall;
      width: 60%;
    }

    &--title {
      font-weight: 500;
      margin: 15px 10px;
    }

    &--views {
      color: $c-gray;
      margin-left: 10px;
    }

    &--text {
      margin: 15px 10px;
    }

    &--link {
      text-transform: uppercase;
      color: $c-gray;
      cursor: pointer;
      margin: 15px 10px;

      &:hover {
        color: $c-yt;
      }
    }
  }
}

.fixedNarrow {
  position: fixed;
  top: 2.5rem;
  z-index: 10;
  left: 4.8rem;
  width: 100%;
}
