.parallax {
  margin-top: $space-xs;
  flex-basis: 100%;
  height: 680px;
  @include flex(row, center, inherit);
  position: relative;
  filter: brightness(0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1488330890490-c291ecf62571?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax--bgContainer {
  @extend %fullSize;
  @include posAbsol(0, 0);
}

.parallax--fgContainer {
  width: 100%;
  height: 30%;
  @include flex(column, center, inherit);
}

.parallax--fgContainer h1 {
  font-size: $f-large;
  color: $c-white;
}

.parallax--fgContainer h2 {
  font-size: $f-large;
  color: $c-white;

  span {
    color: rgb(145, 241, 245);
  }
}

.userSection {
  @extend %fullSize;
  @include flex(column, inherit, inherit);
  margin-top: -$space-xs;
  height: 100vh;
  overflow-y: scroll;

  overflow-x: hidden;

  &__header {
    @extend %fullSize;
    @include flex(column, flex-start, flex-start);
    position: relative;

    &--upper {
      width: 100%;
      margin-top: 22px;

      @include flex(row, center, flex-start);
      position: relative;
    }

    &--left {
      @include flex(row, center, flex-start);

      .userSection__user {
        width: 5rem;
        height: 5rem;
        margin: 5px $space-l;
        margin-left: 6rem;
      }

      h3 {
        font-size: $f-large;
        letter-spacing: 4px;
      }

      p {
        color: $c-gray;
        font-size: $f-largeSmall;
      }
    }

    &--right {
      position: absolute;
      right: 130px;
      top: $space-l;

      button {
        background-color: $c-yt;
        padding: 8px $space-xs;

        &:hover {
          background-color: $c-yt !important;
        }

        span {
          color: $c-white !important;
          text-transform: inherit;
        }
      }
    }
  }

  &__header--bottom {
    width: 100%;
    margin-top: $space-xs;
    @include flex(row, center, center);

    .userSection__header--navItem {
      width: 140px;
      text-align: center;
      margin-left: 20px;
      font-size: $f-largeSmall;
      cursor: pointer;
      color: $c-corduroy;
      padding: $space-xxs;

      &:last-of-type:hover {
        border-bottom: none;
      }

      &:hover {
        border-bottom: 3px solid $c-codGray;
      }
    }
  }

  &__ytVideos {
    width: 100%;
    margin-top: 75px;
    position: relative;
    padding-left: $space-xxs;

    &--title {
      margin: $space-xs $space-ytXS;
      @include flex(row, center, flex-start);
      position: absolute;
      top: -46px;
      left: 3%;

      h4 {
        margin-left: $space-ytXS;
      }

      span {
        text-transform: uppercase;
        cursor: pointer;
      }

      svg {
        color: $c-corduroy;
        cursor: pointer;
        padding: 0 $space-ytXS1;

        &:hover {
          color: $c-regentGray;
        }
      }
    }

    .ytVideos--container {
      @include flex(row, flex-start, center);
      height: 30vh;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;

      &__nextPlay {
        position: absolute;
        right: $space-ytS;
        top: 50px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: $c-white;
        text-align: center;
        box-shadow: 2px 3px 4px $c-regentGray;
        transition: 0.5s;

        &:hover {
          transform: scale(1.07);
        }

        svg {
          padding: 4px;
          font-size: $f-large;
          color: $c-mineShaft;
        }
      }
    }

    .ytVideos--container .videoCard {
      width: 210px !important;

      .videoCard__infoBlock .videoCard__info p {
        margin-left: -$space-ytS;
      }

      .videoCard__infoBlock .videoCard__info p:first-of-type {
        display: none;
      }

      .videoCard__videoTitle {
        img {
          display: none;
        }
        span {
          margin-left: -$space-ytS;
          font-size: $f-mediumSmall;
        }
      }

      .videoCard__video {
        .videoCard__timing {
          top: 49%;
        }
        img {
          width: 100% !important;
          height: 117px;
        }
      }
    }
  }

  /* Main Section With Videos*/
  &__ytVideos--container {
    @extend %fullSize;
  }
}

.underlined {
  border-bottom: 3px solid $c-codGray;
}

.fixed {
  position: fixed;
  top: 2.5rem;
  z-index: 10;
  left: 15.8rem;
  width: 80%;
}

.userSectionDivider {
  margin-top: $space-l;
}

.featuredTitle {
  margin: $space-ytS $space-ytXS;
  top: 45%;
}

.featuredVideos {
  margin-top: 80px;
}

@media only screen and (min-width: 1725px) {
  div.video__left p {
    left: 26%;
  }
}

@media only screen and (min-width: 1500px) {
  div.video__left p {
    left: 20%;
  }
}


@media only screen and (max-width: 1350px) {
  div.video__right {
    align-items: center;
  }
}

@media only screen and (max-width: 1265px) {
  .userSection__header--bottom.fixedNarrow {
    left: 3.8rem;
  }
}

@media only screen and (max-width: 1168px) {
  .userSection__header--bottom .userSection__header--navItem {
    width: 93px;
  }

  div.video__left {
    width: 59%;
    img {
      width: 420px;
      height: 212px;
    }
  }
}

@media only screen and (max-width: 1068px) {
  div.video__right {
    align-items: center;
  }

  div.video__left {
    img {
      width: 320px;
    }

    p {
      font-size: $f-mediumSmall;
      left: 16%;
    }
  }

  .userSection__ytVideos .ytVideos--container {
    height: 20vh;
    overflow-y: auto;
  }

  div.video__left p {
    left: 20%;
  }

  .userSection__header--right {
    right: 30px;
    top: -80px;
  }
}

@media only screen and (max-width: 900px) {
  div.video {
    &__right {
      width: unset;
    }

    &__left {
      flex-basis: 50%;

      height: 100%;
      margin-left: 8px;

      p {
        top: 30%;
      }

      img {
        width: 300px;
      }
    }

    &__right {
      width: 50%;
    }
  }

  .userSection__header--bottom {
    margin-left: -1px;
    flex-wrap: wrap;
  }
  .userSection__header--bottom .userSection__header--navItem {
    width: 70px;
  }

  .userSection__header--bottom.fixedNarrow {
    left: 0.8rem;
  }
}

@media only screen and (max-width: $break-s-ipad) {
  .userSection__header--left h3 {
    font-size: $f-small;
  }

  .userSection__header--bottom .userSection__header--navItem {
    width: 53px;
  }

  .userSection__ytVideos .ytVideos--container {
    height: 26vh;
  }

  .userSection__ytVideos--title {
    left: 6%;
  }

  .userSection__header--right {
    right: 20px;
  }

  div.video {
    display: flex;
    flex-direction: column;

    &__left {
      margin-left: 0;
      width: 100%;

      p {
        top: 18%;
        width: 60%;
      }

      img {
        width: 60%;
      }
    }

    &__right {
      margin-top: $space-ytXS;
      width: 100%;

      p {
        text-align: center;
      }
    }
  }

  .userSection__header--bottom {
    flex-wrap: wrap;
    width:80%;
    margin-left: 38px;

    .userSection__header--navItem {
      font-size: $f-mediumSmall;
      width: 60px;
    }
  }

  .userSection__header--bottom.fixedNarrow {
    left: 2.8rem;
  }
}

@media only screen and (max-width: $break-s-additional) {
  .userSection__header--bottom.fixedNarrow {
    top: 1.9rem;
  }

  .userSection__header--left .userSection__user {
    margin-left: 6rem;
    width: 3rem;
    height: 3rem;
  }

  .userSection__header--right button {
    width: 93px;

    span {
      font-size: $f-mediumSmall;
    }
  }

  .userSection__header--bottom {
    margin-left: 60px;
    width:72%;
    flex-wrap: wrap;
    padding-top: $space-xs;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .userSection__header--bottom.fixedNarrow {
    width: 80%;
    left: 1.8rem;
  }

  .parallax--fgContainer {
    margin-left: 38px;
    h1 {
      font-size: $f-small;
    }
  }

  .userSection__header--bottom {
    justify-content: space-between;
  }

  div.video {
    padding: 0;
  }
}

@media only screen and (max-width: 520px) {
  div.video__left img {
    width: 270px;
    height: 149px;
  }

  div.video__left {
    width: 73%;
    margin-left: 3rem;
  }

  div.video__right {
    p {
      width: 65%;
    }
  }

  .userSection__header--bottom .userSection__header--navItem {
    width: 50px;
  }

  .userSection__header--left .userSection__user {
    width: 3rem;
    height: 3rem;
  }

  .userSection__header--right button {
    width: 70%;

    span {
      font-size: $f-extraSmall;
    }
  }

  div.video__left img {
    width: 345px;
    height: 195px;
  }

  .userSection__ytVideos--title span {
    font-size: $f-mediumSmall;
  }

  .userSection__header--bottom.fixedNarrow {
    left: -1.2rem;
  }

  .parallax--fgContainer {
    width: 48%;
    margin: 0 auto;
    margin-left: 5rem;

    h1 {
      margin-top: -1rem;
    }
  }

  .sideMenu {
    min-width: 100%;
    z-index: 11;

    &__info {
      width: 100%;

      button {
        width: 200px;
      }
    }

    &__info {
      text-align: center;
    }

    &__more {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;

      ul {
        width: 100%;
      }
    }

    li {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 478px) {
  .userSection__header--bottom {
    margin-left: 4rem;
  }

  div.video__right {
    margin-left: 3rem;
  }

  .userSection__header--bottom.fixedNarrow {
    width: 80%;
    left: 0.8rem;

    .userSection__header--navItem {
      font-size: $f-extraSmall;
    }
  }

  div.video__left img {
    width: 308px;
    height: 168px;
  }

  .userSection__ytVideos--title h4 {
    font-size: $f-mediumSmall;
    margin-left: 30px;
  }
}

@media only screen and (max-width: $break-xs) {
  .userSection__header--bottom.fixedNarrow {
    top: 1.1rem;
    left:0rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 428px) {
  .userSection__header--bottom.fixedNarrow {
    width: 83%;
  }

  .userSection__header--right {
    right: 0;

    button {
      padding: 6px 9px;
    }
  }

  .userSection__header--left .userSection__user {
    width: 2rem;
    height: 2rem;
    margin-left: 5rem;
  }

  .userSection__header--left h3 {
    letter-spacing: 2px;
  }

  div.video__left img {
    width: 85%;
  }

  .video__left p {
    font-size: $f-extraSmall;
  }

  .makeStyles-paper-2 {
    width: 320px !important;
  }

  .modal__text {
    width: 100%;
    text-align: left;
  }
}
@media only screen and (max-width: 348px) {
  .parallax--fgContainer {
    width: 75%;
    margin-left: 6rem;

    h2 {
      font-size: $f-medium;
    }
  }

  .userSection__header--bottom.fixedNarrow .userSection__header--navItem {
    text-align: left;
  }

  .userSection__header--bottom.fixedNarrow {
    left: 0rem;
  }

  div.video__right p {
    text-align: left;
  }

  .userSection__header--bottom.fixedNarrow {
    width: 78%;
    left: 0.7rem;
  }

  .userSection__ytVideos--title {
    h4 {
      margin-left: 29px;
      font-size: 0.7rem;
    }

    span {
      font-size: $f-extraSmall;
    }
  }

  .userSection__header--right {
    top: -60px;
  }

  .header__col3 .header__col3--btn,
  .header__col3 .header__col3--btn .col3--btn__icon {
    display: none;
  }
}
